table,
tr,
td,
th {
    border: 3px solid black;
    padding: 3px;
    margin-left: 21%;
    margin-right: 25%;
}
td {
    background-color: rgb(139, 136, 136);
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    font-style: normal;
}
h1 {
    text-align: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif ;
}
td:hover {
    color: white;
    background-color: black;
}
th {
    font-size: 20px;
    background-color:white;
    color: black;
}
th:hover {
    color: white;
    background-color: black;
}